/*  ===============
  1. Reset
===============  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
  }
  
html {
	font-size: 10px;
	overflow: auto;
	-webkit-text-size-adjust: 100%;
      	-ms-text-size-adjust: 100%;
        text-size-adjust: 100%; 
		@include max(1450.98) {
			font-size: 9px;
		}
		@include max(767.98) {
			font-size: 8px;
		} 			
     }
         	     	
body {
	background-color: $white;
	color: $text-color;
	font-family: $font-family;
	font-size: $base-font;
	font-weight: $font-regular();
	line-height: 1.5;
	position: relative;
    max-width: 2560px;
    margin: 0 auto;
}
p {
	font-size: $base-font;
	font-weight: $font-regular();
	line-height: 1.5;
	@include max(767) {
		font-size: 1.6rem;
	}
	b,
	strong {
		@include font-bold();
	}
	a {
		color: inherit;
		color: $primary-color;
		&:hover {
			color: $secondary-color;
		}
	}
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $primary-color;
	}
}
