
@font-face {
  font-family: 'gilroy-bold';
  src: url('../fonts/gilroy/gilroy-bold-webfont.eot');
  src: url('../fonts/gilroy/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gilroy/gilroy-bold-webfont.woff2') format('woff2'),
       url('../fonts/gilroy/gilroy-bold-webfont.woff') format('woff'),
       url('../fonts/gilroy/gilroy-bold-webfont.ttf') format('truetype'),
       url('../fonts/gilroy/gilroy-bold-webfont.svg#gilroy-bolduploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gilroy-bold';
  src: url('../fonts/gilroy/gilroy-bold-webfont.eot');
  src: url('../fonts/gilroy/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gilroy/gilroy-bold-webfont.woff2') format('woff2'),
       url('../fonts/gilroy/gilroy-bold-webfont.woff') format('woff'),
       url('../fonts/gilroy/gilroy-bold-webfont.ttf') format('truetype'),
       url('../fonts/gilroy/gilroy-bold-webfont.svg#gilroy-bolduploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gilroy-heavy';
  src: url('../fonts/gilroy/gilroy-heavy-webfont.eot');
  src: url('../fonts/gilroy/gilroy-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gilroy/gilroy-heavy-webfont.woff2') format('woff2'),
       url('../fonts/gilroy/gilroy-heavy-webfont.woff') format('woff'),
       url('../fonts/gilroy/gilroy-heavy-webfont.ttf') format('truetype'),
       url('../fonts/gilroy/gilroy-heavy-webfont.svg#gilroy-heavyuploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gilroy-light';
  src: url('../fonts/gilroy/gilroy-light-webfont.eot');
  src: url('../fonts/gilroy/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gilroy/gilroy-light-webfont.woff2') format('woff2'),
       url('../fonts/gilroy/gilroy-light-webfont.woff') format('woff'),
       url('../fonts/gilroy/gilroy-light-webfont.ttf') format('truetype'),
       url('../fonts/gilroy/gilroy-light-webfont.svg#gilroy-lightuploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gilroy-medium';
  src: url('../fonts/gilroy/gilroy-medium-webfont.eot');
  src: url('../fonts/gilroy/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gilroy/gilroy-medium-webfont.woff2') format('woff2'),
       url('../fonts/gilroy/gilroy-medium-webfont.woff') format('woff'),
       url('../fonts/gilroy/gilroy-medium-webfont.ttf') format('truetype'),
       url('../fonts/gilroy/gilroy-medium-webfont.svg#gilroy-mediumuploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gilroy-regular';
  src: url('../fonts/gilroy/gilroy-regular-webfont.eot');
  src: url('../fonts/gilroy/gilroy-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gilroy/gilroy-regular-webfont.woff2') format('woff2'),
       url('../fonts/gilroy/gilroy-regular-webfont.woff') format('woff'),
       url('../fonts/gilroy/gilroy-regular-webfont.ttf') format('truetype'),
       url('../fonts/gilroy/gilroy-regular-webfont.svg#gilroy-regularuploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;

}


// ../fonts/icons/
@font-face {
  font-family: 'hamphotos';
  src: url('../fonts/icons/hamphotos.eot?10761201');
  src: url('../fonts/icons/hamphotos.eot?10761201#iefix') format('embedded-opentype'),
       url('../fonts/icons/hamphotos.woff2?10761201') format('woff2'),
       url('../fonts/icons/hamphotos.woff?10761201') format('woff'),
       url('../fonts/icons/hamphotos.ttf?10761201') format('truetype'),
       url('../fonts/icons/hamphotos.svg?10761201#hamphotos') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hamphotos';
    src: url('../font/hamphotos.svg?10761201#hamphotos') format('svg');
  }
}
*/
 
 [class^="hp-"]:before, [class*=" hp-"]:before {
  font-family: "hamphotos";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.hp-down-dir:before { content: '\e800'; } /* '' */
.hp-up-dir:before { content: '\e801'; } /* '' */
.hp-left-dir:before { content: '\e802'; } /* '' */
.hp-right-dir:before { content: '\e803'; } /* '' */
.hp-plus:before { content: '\e804'; } /* '' */
.hp-search-ico:before { content: '\e805'; } /* '' */
.hp-search:before { content: '\e806'; } /* '' */
.hp-moon-inv:before { content: '\e807'; } /* '' */
.hp-user:before { content: '\e808'; } /* '' */
.hp-left-open-big:before { content: '\e809'; } /* '' */
.hp-right-open-big:before { content: '\e80a'; } /* '' */
.hp-up:before { content: '\e80b'; } /* '' */
.hp-left:before { content: '\e80c'; } /* '' */
.hp-left-1:before { content: '\e80d'; } /* '' */
.hp-right:before { content: '\e80e'; } /* '' */
.hp-cancel:before { content: '\e80f'; } /* '' */
.hp-cancel-1:before { content: '\e810'; } /* '' */
.hp-menu:before { content: '\e811'; } /* '' */
.hp-heart:before { content: '\e812'; } /* '' */
.hp-view:before { content: '\e813'; } /* '' */
.hp-chat:before { content: '\e814'; } /* '' */
.hp-search-1:before { content: '\e815'; } /* '' */
.hp-126474:before { content: '\e816'; } /* '' */
.hp-twitter:before { content: '\f099'; } /* '' */
.hp-facebook:before { content: '\f09a'; } /* '' */
.hp-circle:before { content: '\f111'; } /* '' */
.hp-circle-thin:before { content: '\f1db'; } /* '' */