/* =====     Forms     ===== */
input {
			box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
.input,
textarea,
select,
.form-control {
	appearance: none;
	-webkit-appearance: none;
	background-color: $white;
	border: 0;
	color: $text-color;
	display: block;
	height: 40px;
	padding: 0 20px;
	width: 100%;
	&:focus {
				appearance: none;
		-webkit-appearance: none;
				box-shadow: none;
		-webkit-box-shadow: none;
		outline: 0;
	}
}
textarea.form-control {
	height: 100px;
	padding: 15px 20px;
	resize: none;
	@include max(1199) {
		padding-left: 10px;
		padding-right: 10px;
	}
}
select  {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: $white url('../images/select-icon.svg') no-repeat 96% 50%;
	outline: none;
	&:focus,
	&:active {
		outline: none;
	}
}
option {
	-moz-appearance: none;
	-webkit-appearance: none;
}
.input-holder {
	margin-bottom: 15px;
	position: relative;
	@include clearfix;
	&.error {
		input,
		textarea {
			border-color: $red;
		}
	}
	.error,
	.newerror {
		background-color: $red;
		@include border-radius(0px);
		color: $white;
		display: inline-block;
		font-size: 11px;
		right: 0;
		line-height: 1;
		padding: 5px 5px;
		position: absolute;
		top: -19px;
		&:after {
			border-bottom: none;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $red;
			bottom: -5px;
			content: '';
			right: 10px;
			position: absolute;
		}
	}
	.newerror {
		top: -20px;
		@include max(767) {
			top: -25px;
		}
	}
}
